-e git://github.com/timkpaine/hedgedata.git#egg=hedgedata
ipython>=7.2.0
Jinja2>=2.10
lxml>=4.2.5
numpy>=1.15.4
pandas>=0.23.4
-e git://github.com/timkpaine/perspective-python.git#egg=perspective
Pillow>=5.3.0
-e git://github.com/timkpaine/pyEX.git#egg=pyEX
socketIO-client-nexus>=0.7.6
tornado>=5.1.1
tqdm>=4.28.1
ujson>=1.35