<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<link href="/static/css/root.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
<script src='/static/js/webcomponents.min.js'></script>
<script src="/static/js/perspective.view.js"></script>
<script src="/static/js/hypergrid.plugin.js"></script>
<script src="/static/js/highcharts.plugin.js"></script>
<script src="/static/js/mobile_fix.js"></script>
<script src='/static/js/index.js'></script>
</head>
<body>
    <div class="header">
        <h2 class="logo">hedge.me</h2>
        <input id="ticker_input" type="text" placeholder="jpm" list="ticker_autocomplete">
        <datalist id="ticker_autocomplete">
        </datalist>
    </div>
    <div class="main">
        <div class="section">
            <h2>company overview</h2>
            <div class="viewer_holder">
            </div>
        </div>

        <div class="section">
            <h2>trailing 4q</h2>
            <div class="viewer_holder">
            <perspective-viewer id="cashflow">
            </perspective-viewer>
            </div>
        </div>
    </div>
</body>
</html>