<!DOCTYPE html>
<html lang="en">
<head>
<title>Crowdsource</title>
<link href="/static/css/root.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>
<body>
    <div class="main">
        <img class="main" src="/static/img/logo_cyan.png">
        <div class="subs">
            <a href="competitions">
                <p>ACTIVE</p>
            </a>
            <a href="leaderboard">
                <p>LEADERS</p>
            </a>
        </div>
    </div>
</body>
</html>