{% extends "base.html" %}

{% block header %}
<link href="/static/css/loginout.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="login">
<form action="/login?next=/competitions" method="post">
    <p>Login</p>
    <div>
        <input type="password" placeholder="id..." name='id' required>
        <input type="submit">
    </div>
</form>
<form action="/register?next=/competitions" method="post">
    <p>Register</p>
    <div>
        <input type="submit">
    </div>
</form>
</div>
{% endblock %}
