.controls {
  min-width: 40px;
  min-height: 50px;
  /*max-width: 350px;*/
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-top: none;
}

body.dark .controls {
  border: 1px solid var(--dark-border);
  box-shadow: 1px 1px 2px var(--dark-drop-shadow);
  background: var(--dark-bg-color);
}

body.light .controls {
  border: 1px solid var(--light-border);
  box-shadow: 1px 1px 2px var(--light-drop-shadow);
  background: var(--light-bg-color);
}

.controls > div {
  flex: 1 1 auto;
  overflow: auto;
}
body.dark .controls > div {
  border: 1px solid var(--dark-border2);
}

body.light .controls > div {
  border: 1px solid var(--light-border2);
}

.controls  input {
  margin: 8px;
  width: 90%;
}

body.dark .controls  input {
  background-color:var(--dark-bg-color2);
  color:var(--dark-color);
}

body.light .controls  input {
  background-color:var(--light-bg-color2);
  color:var(--light-color);
}


.controls input::-webkit-outer-spin-button,
.controls input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* specifically hide the arrow on focus */
.controls input::-webkit-calendar-picker-indicator {
    display: none;
}