html{
    background-color: black;
    font-family: "Ubuntu";
}

body {
    height: 100vh;
    margin: 0px;
    padding:5px;
    display: flex;
    flex-direction: column;

    background: linear-gradient(0deg, var(--dark), #000, var(--dark));
    background-size: 300% 300%;
    -webkit-animation: Gradient 30s ease infinite;
    -moz-animation: Gradient 30s ease infinite;
    animation: Gradient 30s ease infinite;
}
