html {
    background-color: black;
    font-family: "Ubuntu";
}

body {
    height: 100vh;
    margin: 0px;
    background: black;
}

div.main{
    height:100%;
    width:100%;
    background: linear-gradient(#000, #0ff);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.header {
    color:white;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 1px solid white;
}

div.header h2{
    margin: 0;
    align-self: center;
}

div.header input {
    height:25px;
    align-self: center;
    margin-left: 25px;
    background-color: black;
    color:white;
}

div#holder {
    height:200px;
    width:200px;
}